@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&family=Kode+Mono:wght@400..700&display=swap');

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
.main{
    background-color: rgba(3,11,17,255);
}

.bred{
    border: 1px solid red;
}
.bgori{
    border: 1px solid white;
}
.h-100{
    height: 100%;
}

:root {
    --font: "Kode Mono", monospace;
    --green: rgba(204,243,0,255);
}

.logo{
    color: rgba(204,243,0,255);
    font-size: 30px;
    font-family: var(--font);
}

nav li a{
    text-decoration: none;
    list-style: none;
    color: white;
    transition: .1s all linear;
    font-family: var(--font);
    font-size: 18px;
}
nav li a:hover{
    color: rgba(204,243,0,255);
    transition: .1s all linear;
}
nav button{
    background-color: transparent;
    text-decoration: none;
    font-family: var(--font);
    padding: 10px 15px;
    color: rgba(204,243,0,255);
    border: 1px solid rgba(204,243,0,255);
    transition: .1s all linear;
}
nav button:hover {
    color: black;
    background-color: var(--green);
    box-shadow: 0 0 10px rgba(204,243,0,255);
    transition: .1s all linear;
}


.f-left h1{
    font-size: 70px;
    color: white;
    font-family: var(--font);
}
.f-left p{
    color: white;
}

.f-btn button:nth-child(1){
    background-color: rgba(204,243,0,255);
    padding: 10px 15px;
    color: rgba(3,11,17,255);
    border: 1px solid transparent;
    box-shadow: 0 0 10px rgba(204,243,0,255);
    font-family: var(--font);
    transition: .1s all linear;
}
.f-btn button:nth-child(1):hover {
    background-color: transparent;
    color: rgba(204,243,0,255);
    border: 1px solid rgba(204,243,0,255);
    box-shadow: none;
    transition: .1s all linear;
}

.f-btn button:nth-child(2) {
    background-color: transparent;
    color: rgba(204,243,0,255);
    text-decoration: none;
    font-family: var(--font);
    padding: 10px 15px;
    border: 1px solid rgba(204,243,0,255);
    transition: .1s all linear;
}
.f-btn button:nth-child(2):hover {
    background-color: var(--green);
    box-shadow: 0 0 10px var(--green);
    color: black;
    transition: .1s all linear;
}

.f-right img{
    filter: drop-shadow(0 0 120px rgba(204,243,0,255));
    animation: rotate 20s linear infinite;
}

@keyframes rotate {
    0%{
        /* transform: rotateY(0deg); */
        transform: rotate(0);
    }
    100%{
        /* transform: rotateY(360deg); */
        transform: rotate(360deg);    
    }
}

.s-header{
    color: white;
    font-family: var(--font);
}

.product{
    width: 650px;
    height: 250px;
    /* background-color: rgb(8, 18, 26); */
}

.product-img img{
    width: 200px;
    /* height: 250px; */
}
.product-text{
    width: 500px;
}
.product-text h4{
    color: white;
    font-family: var(--font);
}
.product-text p{
    color: rgb(170, 170, 170);
}



.slider{
    position: relative;
    overflow: hidden;
}

.slider-track{
    display: flex;
    width: calc(650px * 18);
    animation: scroll 40s linear infinite;
}
.slider-track:hover{
    animation-play-state: paused;
}

.slide{
    width: 650px;
    display: flex;
    align-items: center;
    padding: 15px;
    perspective: 100px;
}

@keyframes scroll {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-650px * 9));
    }
}



.t-section h1{
    color: white;
    font-family: var(--font);
    text-align: center;
}


.T-slider-1{
    position: relative;
    overflow: hidden;
}


.T-slider-track-1{
    display: flex;
    width: calc(450px * 18);
    animation: T-scroll-1 40s linear infinite;
}
.T-slider-track-1:hover{
    animation-play-state: paused;
}

.T-slide-1{
    width: 450px;
    height: 300px;
    background-image: url(games-1-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.T-slide-2 {
    width: 450px;
    height: 300px;
    background-image: url(games-1-2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.T-slide-3 {
    width: 450px;
    height: 300px;
    background-image: url(games-1-3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.T-slide-4 {
    width: 450px;
    height: 300px;
    background-image: url(games-1-4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.T-slide-5 {
    width: 450px;
    height: 300px;
    background-image: url(games-1-5.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.T-slide-6 {
    width: 450px;
    height: 300px;
    background-image: url(games-1-6.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.T-slide-7 {
    width: 450px;
    height: 300px;
    background-image: url(games-1-7.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.T-slide-8 {
    width: 450px;
    height: 300px;
    background-image: url(games-1-8.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.T-slide-9 {
    width: 450px;
    height: 300px;
    background-image: url(games-1-9.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@keyframes T-scroll-1 {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-450px * 9));
    }
}

.T-slider-2{
    position: relative;
    overflow: hidden;
}

.T-slider-track-2{
    display: flex;
    width: calc(450px * 18);
    transform: translateX(-8100px);
    animation: T-scroll-2 40s linear infinite;
}
.T-slider-track-2:hover{
    animation-play-state: paused;
}

.T-slide-2-1{
    width: 450px;
    height: 300px;
    background-image: url(games-2-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.T-slide-2-2{
    width: 450px;
    height: 300px;
    background-image: url(games-2-2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.T-slide-2-3{
    width: 450px;
    height: 300px;
    background-image: url(games-2-3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.T-slide-2-4{
    width: 450px;
    height: 300px;
    background-image: url(games-2-4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.T-slide-2-5{
    width: 450px;
    height: 300px;
    background-image: url(games-2-5.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.T-slide-2-6{
    width: 450px;
    height: 300px;
    background-image: url(games-2-6.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.T-slide-2-7{
    width: 450px;
    height: 300px;
    background-image: url(games-2-7.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.T-slide-2-8{
    width: 450px;
    height: 300px;
    background-image: url(games-2-8.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.T-slide-2-9{
    width: 450px;
    height: 300px;
    background-image: url(games-2-9.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@keyframes T-scroll-2 {
    0%{
        transform: translateX(-8100px);
    }
    100%{
        transform: translateX(calc(-450px * 9));
    }
}

.t-section button {
    background-color: rgba(204,243,0,255);
    padding: 10px 15px;
    color: rgba(3,11,17,255);
    border: 1px solid transparent;
    box-shadow: 0 0 10px rgba(204,243,0,255);
    font-family: var(--font);
    transition: .1s all linear;
}
.t-section button:hover {
    background-color: transparent;
    box-shadow: none;
    color: var(--green);
    border: 1px solid var(--green);
    transition: .1s all linear;
}

.fourth-section{
    position: relative;
}

.fourth-left{
    height: 400px;
    position: relative;
    
}

.fourth-left img:nth-child(1){
    position: absolute;
    width: 220px;
    right: 100px;
    bottom: 0;
    z-index: 1;
    border: 15px solid rgba(3,11,17,255);
}
.fourth-left img:nth-child(2){
    width: 200px;
    position: absolute;
    left: 100px;
    top: -10px;

}

.fourth-right h1{
    font-size: 50px;
    color: white;
    font-family: var(--font);
    
}
.fourth-right p{
    color: white;
    
}

.fourth-btn button{
    background-color: rgba(204,243,0,255);
    padding: 10px 15px;
    color: rgba(3,11,17,255);
    border: 1px solid transparent;
    box-shadow: 0 0 10px rgba(204,243,0,255);
    font-family: var(--font);
    
}
.fourth-btn button:hover{
    background-color: transparent;
    box-shadow: none;
    color: var(--green);
    border: 1px solid var(--green);
    transition: .1s all linear;
}

.fourth-btn span{
    background-color: transparent;
    color: rgba(204,243,0,255);
    font-size: 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: var(--font);
    padding: 10px 15px;
    border: 1px solid transparent;
    transition: .1s all linear;
}
.fourth-btn span:hover {    
    border: 1px solid var(--green);
    transition: .1s all linear;
    background-color: var(--green);
    color: black;
    box-shadow: 0 0 10px var(--green);
}

.fourth-btn span i{
    font-size: 25px;
}

.newletter{
    width: 80%;
    height: 80%;
    position: absolute;
    bottom: -475px;
    left: 10%;
    z-index: 111111;
    filter: blur(0);
    background-color: rgba(204,243,0,255);
}
.newletter h1{
    font-family: var(--font);
    color: black;
    text-align: center;
}
.newletter p{
    text-align: center;
    font-size: 23px;
}

.newletter form{
    width: 60%;
    padding: 10px 15px;
    background-color: rgba(3,11,17,255);
}
.newletter form input{
    width: 80%;
    color: white;
    border: none;
    padding: 10px 10px;
    text-decoration: none;
    font-family: var(--font);
    outline: none;
    background-color: transparent;
}
.newletter form button{
    background-color: rgba(204,243,0,255);
    padding: 10px 20px;
    color: rgba(3,11,17,255);
    border: 1px solid transparent;
    box-shadow: 0 0 10px rgba(204,243,0,255);
    font-family: var(--font);
    transition: .1s all linear;
}
.newletter form button:hover {
    background-color: transparent;
    transition: .1s all linear;
    box-shadow: none;
    color: var(--green);
    border: 1px solid var(--green);
}


.footer{
    height: 600px;
    position: relative;
    margin-top: 300px;
    z-index: 1;
    background-image: url(footer-bg-2.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* filter: blur(1px); */
}
.footer::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -2;
    background: rgba(204,243,0,255);
    
    background: linear-gradient(180deg, rgba(3,11,17,255) 0%, rgba(3, 11, 17, 0.529) 100%); 
}

.footer-box{
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: end;
}
.footer-box hr{
    color: white;
    width: 100%;
}

.footer-inner{
    display: flex;
    align-items: end;
    height: 100%;
}
